[Unit]
Description=sejong flask application
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/moya_attendance/moyavenv/bin/python3 /home/pi/moya_attendance/application_sj.py
WorkingDirectory=/home/pi/moya_attendance
User=root

[Install]
WantedBy=multi-user.target
