<html>
<head>
    <title>adminmoya</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/static/semantic/semantic.js"></script>
</head>
<body>

<div class="ui four column grid">
<div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
</div>
    <div class="one wide column"></div>
    <div class="four wide column">
        <div class="padded"></div>
        <div class="ui link list">
        <div class="active item">
            <h1 class="ui header">어린이도서관</h1>
        </div>
            <h3><a class="item" href="./inputdateform">제천 기적의도서관</a></h3>
            <h3><a class="item" href="/mh/inputdateform">진주 마하어린이청소년도서관</a></h3>
            <h3><a class="item" >수원 바른샘도서관 </h3>
        </div>
    </div>

    </div>
    <div class="four wide column">
    </div>
    <div class="four wide column"></div>
</div>
</div>

</body>
</html>


