<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.css">
    <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
    <script src="/static/semantic/semantic.js"></script>
</head>
<body>
 <h1 class="ui header">오늘의 입장 상황표</h1>
 <ul>
     {% for user in userlist %}
{#     <li>사용자명 : {{ user.profile.userid }} / 출입시간 : {{ user.profile.entry }}/ 퇴장시간 : {{ user.profile.exit }}</li>#}
     <li>사용자명 : {{ user.profile.userid }} </li>
     {% endfor %}
 </ul>
 <div class="ui calendar" id="standard_calendar">
  <div class="ui input left icon">
    <i class="calendar icon"></i>
    <input type="text" placeholder="Date/Time">
  </div>
</div>

 <table class="ui celled table">
  <thead>
    <tr>
        <th>RFID No.</th>
        <th>이름</th>
        <th>성별</th>
        <th>나이</th>
        <th>출입한 시간</th>
        <th>퇴장한 시간</th>
        <th>입퇴장 상태</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Name">James</td>
      <td data-label="Age">24</td>
      <td data-label="Job">Engineer</td>
    </tr>
    <tr>
      <td data-label="Name">Jill</td>
      <td data-label="Age">26</td>
      <td data-label="Job">Engineer</td>
    </tr>
    <tr>
      <td data-label="Name">Elyse</td>
      <td data-label="Age">24</td>
      <td data-label="Job">Designer</td>
    </tr>
  </tbody>
</table>
<form class="ui form">
    <div classans="inline field">
        <label>작은손조회</label>
        <input type="text" name="name" placeholder="이름입력">
        <button class="ui inline button" type="search">검색</button>
    </div>
    <div class="field"></div>
    <button class="ui button" type="signup">작은손 신규등록</button>
    <button class="ui right floated button" type="Downlaod">액셀파일 다운로드</button>
</form>
</body>
</html>