{% extends "base.html" %}
{% block content %}
 <h1 class="ui header" > 검색한 날짜의 입장 상황표 </h1>
 <form action="./inputdateform" method="post">
     <div class >
        {{ form.hidden_tag() }}
        {{ form.dt(class='datepicker') }}
     </div>
     <div class="input submit">
        <button type="submit">검색</button>
     </div>
 </form>
 <table class="ui celled table">
  <thead>
    <tr>
        <th>RFID No.</th>
        <th>이름</th>
        <th>출입한 시간</th>
        <th>퇴장한 시간</th>
        <th>작업한 시간(분)</th>
    </tr>
  </thead>
  <tbody>
   {% for user in userlist %}
   <tr>
       <td data-label="RFID No.">{{ user.profile.userid }}</td>
       <td data-label="Name">{{ user.profile.name }}</td>
       <td data-label="Entry time">{{ user.profile.entry }}</td>
       <td data-label="Exit time">{{ user.profile.exits }}</td>
       <td data-label="Working time(min)">{{ user.profile.used }}</td>
   </tr>
   {% else %}
       <em>선택하신 날짜의 입장객은 없습니다.</em>
   {% endfor %}
  </tbody>
</table>
<form action="./download" , method="post", class="ui form">
{</form>
{% endblock %}
