{% extends "base_test.html" %}
{% block content %}
<!-- [개발용] 통계 입력  -->
<div class="ui padded segments">
<div class="ui padded segment">
 <h1 class="ui header" >통계 </h1>
    <h3 class ="ui headaer"> 통계내고자하는 월을 선택하세요 </h3>
 <form action="/test/statistics" method="post">
    <div class="ui calendar" id="month_year_calendar">
          <input type="month" id="start" name="start" min="2021-01" value="2021-01">
          <button type="submit">선택</button>
      </div>
 </form>
 </div>
</div>
<!-- [개발용] 통계표시  -->
    <div class="ui padded segments">
        <div class="ui padded segment">
    <div class="ui statistics">
        <div class="statistic">
          <div class="value">
            {{ statistics.info.total_visit}}
          </div>
          <div class="label">
              방문한 작은손 
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{ statistics.info.total_work}}
          </div>
          <div class="label">
              총 작업시간 
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            22
          </div>
          <div class="label">
              회원수
          </div>
        </div>
      </div> 
    </div>
    </div>
{% endblock %}
