{% extends "base.html" %}
{% block content %}
    <h1 class="ui header">회원명부</h1>
    <table class="ui celled table">
    <thead>
        <tr>
            <th>RFID No.</th>
            <th>이름</th>
            <th>성별</th>
            <th>나이</th>
            <th>보호자 연락처</th>
        </tr>
    </thead>
    <tbody>
    {% for user in userlist %}
    <tr>
        <td> {{ user.profile.rfid }}</td>
        <td> {{ user.profile.name }}</td>
        <td> {{ user.profile.sex }}</td>
        <td> {{ user.profile.year }}</td>
        <td> {{ user.profile.phone }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}

