{% extends "base.html" %}
{% block content %}
    <h1 class="ui header">회원명부</h1>
    <table class="ui celled table" method="post">
    <thead>
        <tr>
            <th>카드번호</th>
            <th>이름</th>
            <th>성별</th>
            <th>출생년도</th>
            <th>보호자 연락처</th>
            <th>메모</th>
        </tr>
    </thead>
    <tbody>
    {% for user in userlist %}
    <tr>
        <td>{{ user.profile.id }}</td>
        <td><a href="{{ url_for('userinfo', id = user.profile.name) }}">{{ user.profile.name }}</a></td>
        <td> {{ user.profile.sex }}</td>
        <td> {{ user.profile.year }}</td>
        <td> {{ user.profile.phone }}</td>
        <td> {{ user.profile.memo }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <form action="./userinfo" method="POST">
        <label>작은손 검색</label><input type="textbox" name="name" placeholder="작은손이름">
        <input type="submit" value="검색">

    </form>
    </table>
{% endblock %}

