{% extends "base.html" %}
{% block content %}
    <div>
        <h1> {{ user.profile.name }}</h1>
        <p> 카드번호 : {{ user_info.info.id }}</p>
        <p> 보호자 연락처 : {{ user_info.info.phone }}</p>
        <p> 생년월일 : {{ user_info.info.year }}</p>
        <p> 성별 : {{ user_info.info.sex }}</p>

    <form action="./{{ user.profile.name }}" method="POST">
        <input type="submit" value="수정하기">
    </form></div>
<div>
    <h3>입출입 기록</h3>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>RFID No.</th>
            <th>출입한 시간</th>
            <th>퇴장한 시간</th>
            <th>작업한 시간(분)</th>
        </tr>
        </thead>
        <tbody>
        {% for user in userlist %}
        <tr>
            <td data-label="RFID No.">{{ user.profile.userid }}</td>
            <td data-label="Entry time">{{ user.profile.entry }}</td>
            <td data-label="Exit time">{{ user.profile.exits }}</td>
            <td data-label="Working time(min)">{{ user.profile.used }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
