{% extends "base.html" %}
{% block content %}
    <h1 class="ui header">회원명부</h1>
    <table class="ui celled table">
        <tr>
            <th>RFID No.</th>
            <th>이름</th>
            <th>성별</th>
            <th>나이</th>
            <th>보호자 연락처</th>
        </tr>
    </table>

<ul>
    {% for user in userlist %}
    <li>
      사용자명 : {{ user.profile.name }} / card_id : {{ user.profile.rfid }} / 상태 :
        {% if user.is == true %}
            <span class="entry">{{ user.status }}</span>
        {% else %}
            <span class="exit">{{ user.status }}</span>
        {% endif %}
        
    </li>
    {% endfor %}
</ul>
{% endblock %}

